<h2> Hello </h2>
<h3> Welcome to pizzashop </h3>


<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div>
        <%= product.title %>
      </div>

      <div>
        <img src="<%= product.path_to_image %>">
      </div>

      <div>
        <%= product.decription %>
      </div>

      <div>
        Price is: <%= product.price %> rub
      </div>

      <div class="row">
        <div class="col-3 col-sm-1">
          <button class="btn btn-sm btn-success" onclick="add_to_cart(<%= product.id %>, '-')"> - </button>
        </div>
        <div class="col-2 col-sm-1">
          <h4>
            <label id = <%= "product_" + product.id.to_s %>>0</label>
          </h4>
        </div>
        <div class="col-1 col-sm-3">
          <button class="btn btn-sm btn-success" onclick="add_to_cart(<%= product.id %>, '+')"> + </button>
        </div>
      </div>

      <br />
      
    </div>


  <% end %>
</div>

<script type"text/JavaScript'>
  $(function() {
    update_orders_list();
    update_orders_button();
    update_labels();
  });
</script>
